on: 
  schedule:
    - cron: '1/5 * * * *'
jobs:
  log_issue_opened_event:
    runs-on: ubuntu-latest
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v2
      - name: Check closed issue state step
        uses: malagarda/github-cloud-project-sync/code/github-cloud-project-sync@main
        id: log_issue_opened_event
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
